
<h1>Admin</h1>

<table>
  <tr>
    <th>Total number of users:</th>
    <td><%= @users.count %></td>
  </tr>

  <tr>
  <th>Users</th>
  </tr>
    <% @users.each do |u| %>
    <tr><td><%= u.email %></td>
    <% end %>
  </tr>

</table>

