




<div class='row'>

  <div class="col-sm-6 col-sm-offset-3">
    <div class="card text-center">




      <% current_user.following.pluck(:followed_id).each do |id| %>
        <% User.find(id).tweets.order('created_at DESC').pluck(:body).each do |t|%>

        <div class="card-header">
          "Quote of the Day"
        </div>
        <div class="card-block">
          <span class="card-title"><%= image_tag User.find(id).avatar, class: "img-thumbnail" %><%= User.find(id).username %> : <%= t %></span>
        </div>

        <% end %>
      <% end %>
      <%= link_to "Back", tweets_path, class: 'post-bottom-button'%>

    </div>
  </div>

</div>
