<body class="photopage">
  <div class='container'>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-4" id="homepage">

        <h1 class='title'>
          ChipperT
        </h1>
        <br>
        <%= image_tag("chipper-icon.png") %>
        <br>



        <%= link_to "Sign up", new_user_registration_path, :class => 'homebutton'%>
        <%= link_to "Login", new_user_session_path, :class => 'homebutton'%>

      </div>
    </div>
  </div>
</body>
