<%= pluralize(tweet.likes.count, 'like') %>
<br>
<% if current_user.likes.find_by(tweet_id: tweet).present? %>
  <%= link_to downvote_tweet_path(tweet), method: :delete, remote: true, class: 'post-bottom-button' do%>
    <span class='glyphicon glyphicon-thumbs-down'></span>
  <% end %>
<% else %>
  <%= link_to upvote_tweet_path(tweet), method: :post, remote: true, class: 'post-bottom-button' do%>
    <span class='glyphicon glyphicon-thumbs-up'></span>
  <% end %>
<% end %>
