#edit-profile {
  border-radius: 5px;
  background-color: #8682b7;
  padding: 20px;
}

#edit-title {
  color: white;
  font-size: 35px;
  margin: 20px;
}

.field {
  margin: 10px;

}

// .stats_following {
//   margin: 30px 0px 0px 143px;
// }
//
// .stats_follow {
//   margin-left: 170px;
// }

.user_info {
  margin: 15px;
}

.follow {
  text-align: left;
  font-size: 25px;
}
