

/* Style the submit button with a specific background color etc */
input[type=submit] {
    text-align: right;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #28235e;
    border: 2px solid #28235e;
    border-radius: 8px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #28235e;
    color: white;
}

#cancel-button {
    text-align: right;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #28235e;
    border: 2px solid #28235e;
    border-radius: 8px;
}

#cancel-button:hover {
    background-color: #28235e;
    color: white;
}

/* Add a background color and some padding around the form */
#chipper-box {
    border-radius: 5px;
    background-color: #524e7e;
    padding: 20px;
}

h3 {
  color: white;
}

textarea {
	width: 300px;
	height: 130px;
  padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}
