.title {
  font-family: 'Kaushan Script','Arial';
  font-size: 90px;
  text-align: center;
}

#homepage{
  color: white !important;
  background-color: rgba(255, 255, 255, 0.5);
  height:38em;
  border-radius: 5px;
  padding: 20px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

img {
  width: 200px;
  height: 200px;
}


$primary: #5a4dd6;

.photopage {
  font-family: 'Montserrat+Subrayada', 'Sans Serif' !important;
  max-width: 100%;
  overflow-x: hidden;
  background: image-url('Banner.jpg') no-repeat center center fixed;
  background-size: cover;
}

.row {
  width: 100%;
  display: inline-block;
  //margin: 10px;
  text-align: center;
  vertical-align: center;
  margin-top: 3em;
}

.edit_page{
  text-align: left;
  vertical-align: left;
}

.homebutton {
  text-align: right;
  padding: 18px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 80px 10px 10px 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #28235e;
  border: 2px solid #28235e;
  border-radius: 8px;
}

.homebutton:hover {
  background-color: #28235e;
  color: white;
}

.md {
  width: 30%;
}

.cta {
  background-color: $primary;
  transition: .2s ease;

  &:hover {
    background-color: darken($primary, 5%);
    color: $primary;
    border: 1px solid $primary;
    transition: .2s ease;
  }
}

.ghost {
  background-color: transparent;
  border: 1px solid $primary;

  transition: .2s ease;

  &:hover {
    background-color: $primary;
    transition: .2s ease;
  }
}

@media (max-width: 480px){
  .sm {
    position: relative;
    width: 40%
  }

  .md {
    width: 50%
  }

  .lg {
    width: 90%;
  }
}

#top-navbar {
  background-color: #28235e;
  border-color: #28235e;
  color: white;
}

.card-header {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 25px;
  background-color: #28235e;
  color: white;
}


.card-block {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
}

.card-title {
  font-size: 20px;
}

.text-muted {
  border: 1px solid rgba(0,0,0,.125);
  border-bottom-right-radius: .25rem;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}



.post-bottom-button {
  text-align: right;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #28235e;
  border: 2px solid #28235e;
  border-radius: 8px;
}

.post-bottom-button:hover {
  background-color: #28235e;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
}

.left-footer {
  text-align: left;
  position: absolute;

}

.right-footer {
  text-align: right;
}

#retweet-button {
  text-align: right;
}

#reply-button {
  text-align: left;
  position: relative;
}
.like-footer {
  text-align: center;
  position: relative;
  margin-top: 10px;
}
